body {
    display: flex;
}

.applelogo {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 155px;
    top: 13px;
    opacity: 0.8;
}

.Store {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 205px;
    opacity: 0.8;
    top: 5px;
}

.Mac {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 265px;
    opacity: 0.8;
    top: 5px;

}

.iPad {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 315px;
    opacity: 0.8;
    top: 5px;

}

.iPhone {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 375px;
    opacity: 0.8;
    top: 5px;

}

.Watch {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 445px;
    opacity: 0.8;
    top: 5px;

}

.Vision {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 518px;
    opacity: 0.8;
    top: 5px;

}

.AirPods {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 585px;
    opacity: 0.8;
    top: 5px;

}

.TVandHome {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 665px;
    opacity: 0.8;
    top: 6px;

}

.Entertainment {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 755px;
    opacity: 0.8;
    top: 6px;

}

.Accessories {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 875px;
    opacity: 0.8;
    top: 6px;

}

.Support {
    position: absolute;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    left: 975px;
    opacity: 0.8;
    top: 6px;

}

.dandruff {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1055px;
    top: 13px;
    opacity: 0.8;     
}


.bag {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1105px;
    top: 13px;
    opacity: 0.8;
}

.applelogo:hover {
    opacity: 1;
}

.Store:hover {
    opacity: 1;
}

.Mac:hover {
    opacity: 1;

}

.iPad:hover {
    opacity: 1;
}

.iPhone:hover {
    opacity: 1;
}

.Watch:hover {
    opacity: 1;

}

.Vision:hover {
    opacity: 1;
}

.AirPods:hover {
    opacity: 1;

}

.TVandHome:hover {
    opacity: 1;

}

.Entertainment:hover {
    opacity: 1;
}

.Accessories:hover {
    opacity: 1;

}

.Support:hover {
    opacity: 1;
}

.dandruff:hover {
    opacity: 1;
}


.bag:hover {
    opacity: 1;
}

h1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 19px;
    top: 50px;
    left: 155px;
}

.Upgrade {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 7px 11px 7px 11px;
    border-radius: 15px;
    background-color: rgb(94, 94, 255);
    top: 50px;
    left: 1055px;
}

.Upgrade:hover {
    background-color: rgb(107, 107, 253);
}

.Upgrade:focus {
    background-color: rgb(61, 61, 247);
}

.background {
    position: absolute;
    background-color: rgb(55, 138, 233);
    padding: 200px 5000px 1350px 5000px;
    left: 10px;
    top: 100px;
}


.iCloudlogo {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 500px;
    top: 150px;
    z-index: 4;

}

.manface {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 300px;
    top: 230px;
    z-index: 3;
}

.womanface {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 750px;
    top: 230px;
    z-index: 3;
}

.photoslogo {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 190px;
    top: 185px;
    z-index: 3;
}

.noteslogo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 330px;
    top: 155px;
    z-index: 3;
    opacity: 0.5;
}

.financelogo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 220px;
    top: 365px;
    z-index: 2;
}

.calendarlogo {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0.7;
    left: 130px;
    top: 335px;
    z-index: 3;
}

.fileslogo {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 950px;
    top: 185px;
    z-index: 2;
}

.messengslogo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 948px;
    top: 355px;
    z-index: 3;
}

.rebootlogo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 900px;
    top: 155px;
    z-index: 3;
    opacity: 0.5;
}

.protectionlogo {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0.7;
    left: 1100px;
    top: 335px;
    z-index: 4;
}

h2 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    top: 450px;
    left: 580px;
}

h3 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    color: white;
    top: 480px;
    left: 300px;
}

.sectionp1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    top: 850px;
    left: 290px;
}

.Upgradetoday {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 11px 17px 11px 17px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    top: 750px;
    left: 600px;
}

.Upgradetoday:hover {
    background-color: rgb(43, 43, 43);
}

.Upgradetoday:focus {
    border: 5px solid black;
    border-radius: 20px;
}

.article1 {
    font-family: Helvetica, sans-serif;

}

.iCloudplus1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(0, 90, 121);
    top: 1100px;
    left: 250px;
    z-index: 2;
}

.nnmonth {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 1120px;
    left: 200px;
    font-size: 30px;
    z-index: 2;
}

.fiftyGB {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 1010px;
    left: 130px;
    background-color: white;
    padding: 160px 110px 160px 110px;
    font-size: 40px;
    z-index: 1;
    border-radius: 15px;
}

.p1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    top: 1250px;
    left: 150px;
    z-index: 2;
}

.upgrade1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 11px 17px 11px 17px;
    border-radius: 20px;
    background-color: rgb(41, 41, 253);
    top: 1360px;
    left: 230px;
    z-index: 1;
}

.upgrade1:hover {
    background-color: rgb(67, 67, 253);
}

.upgrade1:focus {
    border: 5px solid black;
    border-radius: 20px;
}

.iCloudplus2 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(0, 90, 121);
    top: 1100px;
    left: 650px;
    z-index: 2;
}

.twonnmonth {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 1120px;
    left: 600px;
    font-size: 30px;
    z-index: 2;
}

.twohundredGB {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 1010px;
    left: 530px;
    font-size: 40px;
    background-color: white;
    padding: 160px 110px 160px 110px;
    font-size: 40px;
    z-index: 1;
    border-radius: 15px;
}

.p2 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 1250px;
    left: 550px;
    font-size: 25px;
    text-align: center;
    z-index: 2;
}

.upgrade2 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 11px 17px 11px 17px;
    border-radius: 20px;
    background-color: rgb(41, 41, 253);
    top: 1360px;
    left: 650px;
    z-index: 1;
}

.upgrade2:hover {
    background-color: rgb(67, 67, 253);
}

.upgrade2:focus {
    border: 5px solid black;
    border-radius: 20px;
}

.iCloudplus3 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(0, 90, 121);
    top: 1100px;
    left: 1050px;
    z-index: 2;
}

.twoTB {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 1010px;
    left: 910px;
    font-size: 40px;
    background-color: white;
    padding: 160px 130px 170px 150px;
    font-size: 40px;
    z-index: 1;
    border-radius: 15px;
}

.ninennmonth {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 1120px;
    left: 1000px;
    font-size: 30px;
    z-index: 2;
}

.p3 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 1250px;
    left: 920px;
    font-size: 23px;
    text-align: center;
    z-index: 2;
}

.upgrade3 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 11px 17px 11px 17px;
    border-radius: 20px;
    background-color: rgb(41, 41, 253);
    top: 1360px;
    left: 1050px;
    z-index: 2;
}

.upgrade3:hover {
    background-color: rgb(67, 67, 253);
}

.upgrade3:focus {
    border: 5px solid black;
    border-radius: 20px;
}

.sectionp2 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 23px;
    color: white;
    text-align: center;
    top: 1450px;
    left: 250px;
}

.compareallplans {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 11px 17px 11px 17px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    top: 1560px;
    left: 600px;
}

.compareallplans:hover {
    background-color: rgb(43, 43, 43);
}

.compareallplans:focus {
    border: 5px solid black;
    border-radius: 20px;
}

.everything {
    position: absolute;
    top: 2000px;
    left: 100px;
}

h4 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    text-align: start;
    top: 1700px;
    left: 150px;
    opacity: 0.9;
}

.iCloudphotos {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 2850px;
    left: 230px;
}

span {
    color: black;
}

.first {
    box-shadow: 2px 2px 23px 5px rgb(216, 202, 202);
}

.firstp1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 3150px;
    left: 170px;
}

.firstp2 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 3330px;
    left: 170px;
}

.divphotos {
    position: absolute;
    top: 3580px;
    left: 170px;
}

.secondp {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 3150px;
    right: 150px;
}

.second img {
    position: absolute;
    top: 3380px;
    right: 170px;
    width: 450px;
    height: 500px;
}

.backups {
    position: absolute;
    background-color: rgb(230, 221, 221);
    padding: 15px;
    border-radius: 15px;
    top: 3900px;
    left: 170px;
}
 
.third p{
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 3900px;
    right: 150px;
}

.third img{
    position: absolute;
    padding: 15px;
    top: 4050px;
    right: 110px;
}

.iCloudbackup {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 4300px;
    left: 150px;
}

h5 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    text-align: start;
    top: 4800px;
    left: 150px;
    opacity: 0.9;    
}

.skrinmacbook {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    top: 5180px;
    left: 120px;
}

.iCloudcom {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 5950px;
    left: 230px;
}

.VisitiCloudcom {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(64, 64, 255);
    top: 6100px;
    left: 230px;
}

.VisitiCloudcom:hover {
    border-bottom: 2px solid rgb(64, 64, 255);
}

.notesimg {
    position: absolute;
    top: 6300px;
    left: 150px;
}

.notesp {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: rgb(126, 126, 126);
    top: 6280px;
    left: 250px;
}

.calendarimg {
    position: absolute;
    background-image: linear-gradient(rgb(52, 52, 255),rgb(39, 140, 255),rgb(52, 52, 255) );
    padding: 35px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    top: 6500px;
    left: 120px;
}

.photos {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 6280px;
    right: 150px;
}

.iphonefoto {
    position: absolute;
    padding: 15px;
    top: 6400px;
    right: 30px;
}

.Calendar {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 6800px;
    left: 150px;
}

.safariimg {
    position: absolute;
    top: 7200px;
    left: 30px;
}

.safari {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 7300px;
    right: 140px;
}

.passwordslogo {
    position: absolute;
    top: 7750px;
    left: 150px;
}

.passwords {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 7730px;
    left: 250px;
}

.contactslogo {
    position: absolute;
    top: 7750px;
    right: 470px;
}

.contacts {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 7730px;
    right: 110px;
}

.Easilyimg {
    position: absolute;
    padding: 15px;
    top: 7900px;
    right: 30px;
}

.Easily {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 8100px;
    left: 150px;
}

.mainpart2 {
    background-color: blue;
}

h6 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    text-align: start;
    color: white;
    top: 8600px;
    left: 150px;  
}

.emogitexnologist{
    position: absolute;
    top: 9200px;
    left: 150px;
    width: 250px;
    height: 250px;
    border: 1px solid blue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(50, 36, 243);
    padding: 25px 100px 0px 130px;
}

.secondcolor {
    color:white;
    opacity: 1;
}

.PrivateRelay {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: white;
    top: 9550px;
    left: 170px;
}

.E-mail {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    top: 9250px;
    right: 160px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 20px 20px 100px;
    z-index: 0;
}

.rework {
    position: absolute;
    right: 310px;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.HideMyEmail {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: white;
    top: 9550px;
    right: 100px;
}

.LearnhowPrivate {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    top: 9800px;
    left: 170px;
}

.LearnhowPrivate:hover {
    border-bottom: 1px solid blue;
}

.LearnhowPrivate:focus {
    border: 10px solid white;
}

.HomeKit {
    position: absolute;
    top: 10000px;
    left: 170px;
}

.HomeKitSecureVideo {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: white;
    top: 10080px;
    right: 130px;
}

.Seecompatible {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    top: 10300px;
    right: 370px;
}

.Seecompatible:hover {
    border-bottom: 1px solid white;
}

.Seecompatible:focus {
    border: 7px solid white;
}

.dotted {
    position: absolute;
    background-color: rgb(55, 138, 233);
    padding: 100px 5000px 2050px 5000px;
    left: 10px;
    top: 8500px;
}

.h7 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    text-align: start;
    top: 10700px;
    left: 150px; 
}

.backdround-img {
    position: absolute;
    top: 11000px;
    left: 100px;
    border-radius: 15px;
}

.iCloudMailimg {
    position: absolute;
    top: 11170px;
    left: 150px;
    border-radius: 15px;
}

.iCloudMail {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: rgba(241, 241, 241, 0.753);
    top: 11000px;
    right: 110px;
}

.Messages {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: start;
    color: grey;
    top: 11900px;
    left: 150px;
}

.boyface {
    position: absolute;
    top: 12100px;
    right: 100px;
}

.message {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    text-align: start;
    color: white;
    background-color: rgb(32, 114, 207);
    top: 12070px;
    padding: 20px;
    border-radius: 40px;
    right: 250px;
}

.Replay {
    position: absolute;
    top: 12250px;
    left: 600px;
    color: rgb(19, 91, 173);
    text-decoration: none;
}

.Replay:hover {
    border-bottom: 1px solid rgb(19, 91, 173);
}

.h8 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    top: 12350px;
    left: 350px; 
    opacity: 0.8;
}

.AlliCloudplus {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(105, 105, 105, 0.753);
    top: 12550px;
    left: 375px;
}

.UpgradeiCloud {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 11px 15px 11px 15px;
    border-radius: 23px;
    background-color: rgb(57, 57, 235);
    left: 510px;
    top: 12650px;
}

.UpgradeiCloud:hover {
    background-color: rgb(52, 52, 252);
}

.UpgradeiCloud:focus {
    background-color: rgb(61, 61, 247);
}

.freeiCloud {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12800px;
    left: 370px;
    z-index: 1;
}

.plusiCloud {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(16, 126, 252);
    top: 12800px;
    left: 470px;
    z-index: 1;
}

.onedollar {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12830px;
    left: 470px; 
    z-index: 1;
}

.threedollars {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12830px;
    left: 600px; 
    z-index: 1;
}

.tendollars {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12830px;
    left: 730px; 
    z-index: 1;
}

.thirtydollars {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12830px;
    left: 860px; 
    z-index: 1;
}

.sixtydollars {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12830px;
    left: 990px; 
    z-index: 1;
}

.Storage {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12900px;
    left: 150px;
    z-index: 1;

}

.AutomaticSyncing {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13025px;
    left: 150px;
    z-index: 1;

}

.iCloudPrivateRelay {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13150px;
    left: 150px;
    z-index: 1;

}

.Hide {
    position: absolute;
    font-family: Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    top: 13275px;
    left: 150px;
    z-index: 1;

}

.CustomEmailDomain {
    position: absolute;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13400px;
    left: 150px;
    z-index: 1;

}

.Home {
    position: absolute;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13525px;
    left: 150px;
    z-index: 1;

}

.FamilySharing {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13670px;
    left: 150px;
    z-index: 1;

}

.free {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12830px;
    left: 370px; 
    z-index: 1;

}

.gb5 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12900px;
    left: 370px; 
    z-index: 1;

}

.gb50 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12900px;
    left: 500px;
}

.gb200 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12900px;
    left: 630px;
}

.tb2 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12900px;
    left: 760px;
}

.tb6 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12900px;
    left: 890px;
}

.tb12 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 12900px;
    left: 1020px;
}

.A1 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13045px;
    left: 370px;
    z-index: 1;

}

.A2 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13045px;
    left: 500px;
}

.A3 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13045px;
    left: 630px;
}

.A4 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13045px;
    left: 760px;
}

.A5 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13045px;
    left: 890px;
}

.A6 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13045px;
    left: 1020px;
}

.B1 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13170px;
    left: 370px;
    z-index: 1;

}

.B2 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13170px;
    left: 500px;
}

.B3 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13170px;
    left: 630px;
}

.B4 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13170px;
    left: 760px;
}

.B5 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13170px;
    left: 890px;
}

.B6 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13170px;
    left: 1020px;
}

.C1 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13295px;
    left: 370px;
    z-index: 1;

}

.C2 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13295px;
    left: 500px;
}

.C3 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13295px;
    left: 630px;
}

.C4 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13295px;
    left: 760px;
}

.C5 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13295px;
    left: 890px;
}

.C6 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13295px;
    left: 1020px;
}

.D1 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13420px;
    left: 370px;
    z-index: 1;

}

.D2 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13420px;
    left: 500px;
}

.D3 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13420px;
    left: 630px;
}

.D4 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13420px;
    left: 760px;
}

.D5 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13420px;
    left: 890px;
}

.D6 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13420px;
    left: 1020px;
}

.E1 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13545px;
    left: 370px;
    z-index: 1;

}

.E2 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13545px;
    left: 500px;
}

.E3 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13545px;
    left: 630px;
}

.E4 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13545px;
    left: 760px;
}

.E5 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13545px;
    left: 890px;
}

.E6 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    top: 13545px;
    left: 1020px;
}

.F1 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13690px;
    left: 370px;
    z-index: 1;

}

.F2 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13690px;
    left: 500px;
}

.F3 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13690px;
    left: 630px;
}

.F4 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13690px;
    left: 760px;
}

.F5 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13690px;
    left: 890px;
}

.F6 {
    position: absolute;
    width: 25px;
    height: 25px;
    font-family: Helvetica, sans-serif;
    top: 13690px;
    left: 1020px;
}

.dottet {
    position: absolute;
    top: 12700px;   
    left: 100px;
    background-color: rgba(220, 218, 241, 0.692);
    padding: 1000px 200px 100px 150px;
    z-index: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.h9 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    top: 14000px;
    left: 350px; 
    opacity: 0.8;
}

.one {
    position: absolute;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px;
    top: 14200px;
    left: 150px;
    padding-bottom: 30px;
    padding-right: 800px;
    border-bottom: 2px solid gray;
}

.two {
    position: absolute;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px;
    top: 14300px;
    left: 150px;
    padding-bottom: 30px;
    padding-right: 650px;
    border-bottom: 2px solid gray;
}

.three {
    position: absolute;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px;
    top: 14400px;
    left: 150px;
    padding-bottom: 30px;
    padding-right: 550px;
    border-bottom: 2px solid gray;
}

.four {
    position: absolute;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px;
    top: 14500px;
    left: 150px;
    padding-bottom: 30px;
    padding-right: 620px;
    border-bottom: 2px solid gray;
}

.five {
    position: absolute;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px;
    top: 14600px;
    left: 150px;
    padding-bottom: 30px;
    padding-right: 600px;
    border-bottom: 2px solid gray;
}

.one:hover {
    color: rgb(17, 124, 211);
}

.two:hover {
    color: rgb(17, 124, 211);
}

.three:hover {
    color: rgb(17, 124, 211);
}

.four:hover {
    color: rgb(17, 124, 211);
}

.five:hover {
    color: rgb(17, 124, 211);
}

.arrow1 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14200px;
    right: 150px;
}

.arrow2 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14300px;
    right: 150px;
}

.arrow3 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14400px;
    right: 150px;
}

.arrow4 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14500px;
    right: 150px;
}

.arrow5 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14600px;
    right: 150px;
}

.appleone {
    position: absolute;
    top: 14900px;
    left: 480px;
    width: 120px;
    height: 120px;
}

.h10 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 14820px;
    left: 600px;
    font-size: 100px;
}

.applemusiclogo {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15050px;
    left: 400px;
    width: 50px;
    height: 50px;
}

.appleTVlogo {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15050px;
    left: 500px;
    width: 50px;
    height: 50px;
}

.applearcadalogo {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15050px;
    left: 600px;
    width: 50px;
    height: 50px;
}

.applenewslogo {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15050px;
    left: 700px;
    width: 50px;
    height: 50px;
}

.fithesslogo {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15050px;
    left: 800px;
    width: 50px;
    height: 50px;
}

.logoicloud {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15050px;
    left: 900px;
    width: 50px;
    height: 50px;
}

.BundleiCloud {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: start;
    top: 15120px;
    left: 250px;
    text-align: center;
}

.TryAppleOnefree {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 11px 15px 11px 15px;
    border-radius: 23px;
    background-color: rgb(57, 57, 235);
    left: 510px;
    top: 15250px;
}

.TryAppleOnefree:hover {
    background-color: rgb(0, 140, 255);
}

.Learnmore {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15320px;
    left: 560px;
    color: rgb(19, 91, 173);
    text-decoration: none;
}

.Learnmore:hover {
    border-bottom: 1px solid rgb(19, 91, 173);
}

.family {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15600;
    left: 200px;
    font-size: 50px;
    z-index: 1;
    color: white;
}

.ShareiCloud {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15700;
    left: 150px;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    color: white;
}

.Learn-more {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15850px;
    left: 190px;
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    z-index: 1;
}

.Learn-more:hover {
    border-bottom: 1px solid white;
}

.FamilySharinglogo {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 15600px;
    left: 50px;
    background-color: rgb(58, 143, 255);
    padding: 150px;
    padding-top: 300px;
    z-index: 0;
}

.applestorelogo {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 15900px;
    left: 100px;
}

.logocalendar {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 16020px;
    left: 100px;
}

.ibookslogo {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 15900px;
    left: 500px; 
}

.logonotes {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 16020px;
    left: 500px;
}

.Privacy {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15600;
    right: 250px;
    font-size: 50px;
    z-index: 1;
    color: white;
}

.Privacy-p {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15700;
    right: 120px;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    color: white;
}

.Learnmore-Privacy {
    position: absolute;
    font-family: Helvetica, sans-serif;
    top: 15850px;
    right: 190px;
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    z-index: 1;
}

.Learnmore-Privacy:hover {
    border-bottom: 1px solid white;
}

.Privacylogo {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 15600px;
    right: 30px;
    background-image: linear-gradient(blue,grey,blue,grey);
    padding: 150px;
    padding-top: 300px;
    z-index: 0;
}

.footer-p1 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    top: 16350px;
    left: 200px;
}

.footer-p2 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    text-align: start;
    top: 16380px;
    left: 200px;
}

.footer-p3 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    text-align: start;
    top: 16410px;
    left: 200px;
}

.footer-p4 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    text-align: start;
    top: 16430px;
    left: 200px;
}

.footer-p5 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    text-align: start;
    top: 16450px;
    left: 200px;
}

.footer-p6 {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    text-align: start;
    top: 16510px;
    left: 200px;
}

.footer-p {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    text-align: start;
    top: 16545px;
    left: 200px;
    border-bottom: 1px solid rgb(156, 143, 143);
    padding-bottom: 20px;
}

footer img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 16630px;
    left: 200px;
    opacity: 0.8;
}

.footer-arrow {
    position: absolute;
    font-family: Helvetica, sans-serif;
    width: 15px;
    height: 15px;
    top: 16615px;
    left: 220px;
    opacity: 0.8;
}

.footer-iClodplus {
    position: absolute;
    font-family: Helvetica, sans-serif;
    width: 15px;
    height: 15px;
    top: 16615px;
    left: 240px;
    opacity: 0.8;
}

.footer-ShopandLearn {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    top: 16655px;
    left: 200px;
}

.footer-Store {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    top: 16675px;
    left: 200px;
}

.footer-Store:hover {
    border-bottom: 1px solid gray;
}

.footer-Mac {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    top: 16695px;
    left: 200px;
}

.footer-Mac:hover {
    border-bottom: 1px solid gray;
}

.footer-iPad {
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    top: 16715px;
    left: 200px;
}

.footer-iPad:hover {
    border-bottom: 1px solid gray;
}
